@{
    Layout = "~/Views/Admin/_Layout.cshtml";
    ViewData["Title"] = ViewBag.Title;
}

@model Article


<h4 class="text-center m-4">@ViewBag.Title</h4>

<form asp-action="AddOrUpdate" method="post">
    <div asp-validation-summary="All" class="text-center text-danger"></div>
    <div class="row">
        @if (Model.Id != 0)
        {
            <div class="row m-2 justify-content-center">
                <label class="col-2 form-label">Id</label>
                <div class="col-4">
                    <input class="form-control" asp-for="Id" readonly />
                </div>
            </div>
        }

        <div class="row m-2 justify-content-center">
            <label class="col-2 form-label">Заголовок</label>
            <div class="col-4">
                <input class="form-control" asp-for="Title" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="row m-2 justify-content-center">
            <label class="col-2 form-label">Текст</label>
            <div class="col-4">
                <textarea class="form-control" asp-for="Text"></textarea>
                <span class="text-danger" asp-validation-for="Text"></span>
            </div>
        </div>
        

        <div class="row m-2 justify-content-center">
            <label class="col-2 form-label">Ссылка на изображение</label>
            <div class="col-4">
                <input class="form-control" asp-for="ImageUrl" />
                <span class="text-danger" asp-validation-for="ImageUrl"></span>
            </div>
        </div>
        <div class="row m-2 justify-content-center">
            <button type="submit" class="col-1 btn btn-sm btn-primary m-2">Сохранить</button>
            <a asp-action="Index" class="col-1 btn btn-secondary btn-sm m-2">Отмена</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

